table {
  border-collapse: collapse;
  clear: both;
}
th {
  padding: 5px 10px;
  border: 1px solid;
}
td {
  padding: 5px 10px;
  border: 1px solid;
}

/* 첫번째 방법 */
.float-left {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: red;
  float: left;
}
.next {
  clear: both;
}

/* 두번째 방법 */
.parent {
  overflow: hidden;
}
.child {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: red;
  float: left;
}

/* 세번째 방법 */
.parent2::after {
  content: "";
  clear: both;
  display: block;
}
