input {
  padding: 5px 10px;
  font-size: 16px;
}
[disabled] {
  color: red;
}
[type="password"] {
  color: blue;
}
[class^="btn-"] {
  font-weight: bold;
  border-radius: 20px;
}
[class$="success"] {
  color: green;
}
[class$="danger"] {
  color: red;
}
