.none {
  font-size: 25px;
  text-decoration: none;
}
.underline {
  font-size: 25px;
  text-decoration: underline;
}
.overline {
  font-size: 25px;
  text-decoration: overline;
}
.line-through {
  font-size: 25px;
  text-decoration: line-through;
}
